* {
  margin: 0;
  padding: 0;
}
.menu-container {
  background-color: rgb(46, 43, 43);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-photo {
  width: 120px;
}
.menus {
  /* border: 2px solid red; */
  display: flex;
  font-size: 18px;
}
.item {
  color: white;
  list-style: none;
  margin-right: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.item:hover {
  color: tomato;
}
.banner-img {
  width: 300px;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  height: 100vh;
  align-items: center;
  color: white;
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(19, 18, 18), rgb(58, 58, 58));
}
.title {
  font-size: 55px;
  font-weight: bold;
}
.description {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  padding: 10px 10px;
  background-color: tomato;
  color: white;
  border: none;
}
.about-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 20px;
  align-items: center;
}
.about-info {
  text-align: center;
  padding: 5px;
}
.about-title {
  font-size: 30px;
}
